.saving-goal {
  max-width: 560px;
  width: 100%;
  background-color: #FFFFFF;
  border: 1px solid #E1E8ED;
  box-shadow: 0px 1px 4px rgba(150, 164, 176, 0.1);
  border-radius: 8px;
  margin: 0 auto;
  padding: 39px 39px 49px 40px;

  @media screen and (max-width: 600px) {
    max-width: 100%;
    border-radius: 8px 8px 0 0px;
  }

  &__image {
    width: 37px;
    height: 37px;
  }

  &__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #1C1E1F;
    margin-top: 7px;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 20px;
    color: #657786;
    margin-top: 2px;
  }

  &__form {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;

    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
  }

  &__resume {
    margin-top: 31px;
    background-color: #FFFFFF;
    border: 1px solid #E1E8ED;
    box-shadow: 0px 1px 4px rgba(150, 164, 176, 0.1);
    border-radius: 4px;
  }

  &__info {
    font-size: 12px;
    line-height: 16px;
    color: #1C1E1F;

    > span {
      font-weight: 600;
    }
  }

  &__disclaimer {
    background-color: #F4F8FA;
    padding: 16px 32px 18px;
  }

  &__button {
    display: flex;
    background-color: #1B31A8;
    border-radius: 32px;
    color: #fff;
    padding: 16px 165px;
    margin: 31px auto 0;
    transition: all ease .4s;

    &:hover {
      border: 1px solid #1B31A8;
      background-color: #fff;
      color: #1B31A8;
      font-weight: 600;
    }
  }

  .form {
    &__container {
      display: flex;
      flex-direction: column;
      max-width: 232px;
      width: 100%;

      &:first-child {
        margin-right: 17px;

        @media screen and (max-width: 600px) {
          margin-bottom: 16px;
        }
      }
    }

    &__label {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #1C1E1F;
    }

    &__input {
      height: 56px;
      border: 1px solid #E1E8ED;
      color: #1C1E1F;
      font-weight: 600;
      padding-left: 16px;
      max-width: 177px;
    }

    &__group {
      display: flex;
      margin-top: 4px;
      height: 56px;
    }

    &__date {
      width: 100%;
      border: 1px solid #E1E8ED;
      padding: 7px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #1C1E1F;
    }

    &__date-month {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
    }

    &__date-year {
      font-size: 16px;
      line-height: 20px;
    }

    &__icon {
      min-width: 48px;
      background-color: #E1E8ED;
      position: relative;
      border-radius: 4px 0px 0px 4px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      &--disabled {
        cursor: no-drop;
      }

      &--right {
        border-radius: 0px 4px 4px 0px;

        > img {
          transform: rotate(180deg);
        }
      }

      &--arrow {
        &:before,
        &:after {
          content: '';
          width: 8px;
          height: 1px;
          position: absolute;
          left: 50%;
          top: 50%;
          background-color: #657786;
        }
      }
    }
  }

  .resume {
    &__amount {
      min-height: 102px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__text {
      padding-left: 32px;
      font-family: Work Sans;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      color: #1C1E1F;

    }

    &__value {
      padding-right: 32px;
      font-weight: 500;
      font-size: 40px;
      line-height: 32px;
      color: #0079FF;
    }
  }
}
