.header {
  height: 79px;

  @media screen and (max-width: 600px) {
    height: 56px;
  }

  &__container {
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0 16px;
  }

  &__logo {
    width: 95px;

    @media screen and (max-width: 600px) {
      width: 65px;
    }
  }
}
