html,
body {
  -moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: 'Work Sans', sans-serif;
	font-weight: normal;
	height: 100%;

	h1,
	h2,
	h3,
	h4,
  h5,
  p,
  span {
    font-family: 'Work Sans', sans-serif;
	}
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Work Sans', sans-serif;
}
